.card {
  height: 275px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.541) !important;
  border-color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  opacity: 0;
}

.card.register-card {
  height: 330px;
}

.card.show {
  opacity: 1;
  transition: opacity 3s;
}

.card.hide {
  opacity: 0;
  transition: opacity 1s;
}

.card-header h3 {
  color: white;
  display: inline;
}

.card-header div {
  float: right;
  color: #ffffff;
  font-weight: 900;
  cursor: pointer;
}

.card-footer div {
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 900;
  /* text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff; */
}

.input-group-prepend span {
  width: 50px;
  background-color: #575959;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.submit-custom {
  background-color: #1d1f20;
  text-align: center;
  color: #ffffff;
  width: 7em;
}
