@import url('https://fonts.googleapis.com/css?family=Numans');

.card {
  height: 300px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.541) !important;
  border-color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 1000%;
  opacity: 0;
  transition: opacity 3s;
}

.card.register-card {
  height: 350px;
}

.card.show {
  opacity: 1;
  transition: opacity 3s;
}

.card.hide {
  opacity: 0;
  transition: opacity 1s;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #575959;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.submit-custom {
  background-color: #1d1f20;
  text-align: center;
  color: #ffffff;
  width: 7em;
}

.login_btn {
  color: black;
  background-color: #1d1f20;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}
