* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

@font-face {
  font-family: 'Pixelated';
  src: url(./fonts/fff-forward/font.ttf) format('truetype');
}

.pixelated {
  font-family: Pixelated;
}

@font-face {
  font-family: 'PixelatedLogo';
  src: url(./fonts/subway-ticker/font.ttf) format('truetype');
}

.logo {
  font-family: PixelatedLogo;
  font-size: 2.2em;
  padding: 0;
}

.navbar-custom {
  background-color: #313335;
  padding-top: 0;
  padding-bottom: 0;
}

.button-login {
  background-color: #1d1f20;
  padding-left: 20px;
  text-decoration: none !important;
  color: #ffffff;
}

.webgl {
  /* position: fixed; */
  top: 0;
  left: 0;
  outline: none;
}

.loading-bar {
  position: absolute;
  top: 50%;
  background-color: #484d50;
  width: 100%;
  transform: scaleX(0);
  height: 10px;
  border-radius: 15px;
  transform-origin: 0 100%;
  transition: transform 0.5s;
}

.loading-bar.ended {
  transform: scaleX(100%);
  transition: transform 1.5s ease-in-out;
  opacity: 0;
  transition: opacity 3s;
}

.point {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
}

.point .label {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #00000077;
  border: 1px solid #ffffff77;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 40px;
  font-weight: 100;
  font-size: 14px;
  font-family: Pixelated;
  cursor: help;
  transform: scale(0, 0);
  transition: transform 0.3s;
}

.overlay-text {
  position: absolute;
  top: 30px;
  left: -120px;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  background: #00000077;
  border: 1px solid #ffffff77;
  color: #ffffff;
  line-height: 1.3em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1.4em;
  /* font-family: Pixelated; */
  /* transition: opacity 0.3s; */
  pointer-events: none;
}

.point.visible .label {
  transform: scale(1, 1);
}

.mobile-buttons {
  position: absolute;
  top: 70%;
  width: 80%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.navbar-play-and-leaderboard div {
  cursor: pointer;
  display: none;
}

.play-and-leaderboard {
  display: none;
}

.game-ui {
  opacity: 0;
  transition: opacity 3s;
}

.game-ui.show {
  opacity: 1;
  transition: opacity 3s;
}

.game-ui-timerbar-container {
  position: absolute;
  top: 90%;
  left: 10%;
  height: 9px;
  background-color: #484d50;
  width: 80%;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 1s;
}

.game-ui-timerbar-container.show {
  opacity: 1;
  transition: opacity 1s;
}

.game-ui-timerbar {
  position: relative;
  height: 9px;
  background-color: #007bff;
  border-radius: 15px;
}

.game-ui-timerbar.ended {
  transform: scaleX(0%);
  transform-origin: 0 100%;
}

.math-question {
  position: absolute;
  top: 20%;
  width: 100%;
  /* left: 50%; */
  color: #ffffff;
  font-family: Pixelated;
}

.math-question .title {
  opacity: 0;
  transition: opacity 1s;
  display: flex;
  justify-content: center;
}

.math-question .title.show {
  opacity: 1;
  transition: opacity 1s;
}

.math-question .question {
  opacity: 0;
  transition: opacity 1s;
  display: flex;
  justify-content: center;
  font-size: 3em;
}

.math-question .question.show {
  opacity: 1;
  transition: opacity 1s;
}
